

h3,h2{
    color: darkred;
}

h2{
    text-decoration: underline;
}


textarea{
    width:400px;
    height: 200px;
}

input[type="submit"]{
    border: none;
    background-color: darkred;
    color: white;
    padding:5px;
}
